/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* =======================general ===================*/
:root{
    --box-shadow : 0px 10px #e82750;
    --main-color : #8000ff;
    --second-color: #e82750;
    --title-color : #222;
    --subtitle-color : #8d8d8d;

}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
::selection{
    color: #fff;
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--second-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
}
::-webkit-scrollbar{
  width : 12px;
}
body {
    color: #1a1b1f;
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    height: 1000px;
    /*overflow: hidden;*/
    /*position: relative;*/

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.img-fluid{
    max-width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    direction: ltr;
    text-align: left;
    letter-spacing: normal;
    -webkit-text-stroke-width: 0px;
    text-indent: 0;
    text-transform: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    column-count: auto;
    white-space: normal;
    word-break: normal;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    font-family: Montserrat, sans-serif;

}
.section{
    background-color: white;
    color: black;

}

h2 {
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 400;
}
.text {
    color: #fff;
    margin-right: 7px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;

}
.paragraph{
    font-size: 1.1rem;
    text-align: justify;
    margin:20px 0 15px;
}

.w-container{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: block;
}
.section-bg {
    background: #efdffb;
}
.image{
    width: 116px;
}

/* ====================== bare de navigation ========================*/
.burg-icon{
    display: none;
}
.navbar{
    padding: 0 1rem 2rem 0.5rem ;
    background-color: var(--main-color);
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.nav-link:hover {
    color: #fff;
    border-bottom: 2px solid var(--second-color);
}
.nav-link {
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    transition-property: border-color;
}
.nav-link-copy {
    color: #fff;
    background-color: var(--second-color);
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 12px 24px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    transition-property: all;
    transition: background-color 0.5s;
}

.nav-link-copy:hover {
    opacity: 1;
    color: #000;
    background-color: #efdffb;
}
.hide_menu {
    display: none;
}

/* ================= hero ======================= */
.hero{
    width: auto;
    aspect-ratio: auto;
    background-color: var(--main-color);
    margin-bottom: 0%;
    min-height: 450px;
    padding: 0 60px 5rem;

}
.right-block {
    min-width: 200px;
    position: static;
    /* transform: translateX(400%);*/
    /*animation: imgAnimate 1s forwards 1s;*/
}

.information {
    min-width: 430px;
    margin-bottom: 20px;
    margin-right: 60px;
    box-shadow: var(--box-shadow);

}
.change-text{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    line-height: 50px;
    border-right: 2px solid #fff;
}

.normal-title{
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 10px;
    font-weight: 400;
    width: auto;
}
.text-content{
    display: inline-flex;
}
.social{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-right: 4rem;
}
.social i{
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.flexbox {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.img-hero{

    max-width: 400px;
    width: 100%;
    min-height: 80%;
    box-shadow: 15px 15px #000;
    border-radius: 5px;

}
.space-b-section{
    padding-top: 5rem;
    background-color: white;


}
/*========================= about me=================== */

.img_about {
    border-radius: 30%;
    width: 230px;
    height: 250px;
    text-align: center;
    margin: auto;
    display: flex;
    object-fit: cover;
}
.btn_about{
    display: block;
    margin: 50px auto;
    width:  fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s;
    background-color: var(--second-color);

}
.section-title-about{
    font-size: 2rem;
    padding: 15px 0;
    text-align: center;
    line-height: 1.2;
    color: #222;
    position: relative;
}
.btn_about:hover{
    background-color: #efdffb;
    color: #000;

}
.section-title{
    font-size: 2rem;
    padding: 15px 0;
    text-align: center;
    line-height: 1.2;
    color: #222;
    position: relative;
}
.section-title::before{
    content: '';
    position : absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    width: 100px;
    background-color: var(--main-color);

}
.section-title::after{
    content: '';
    position : absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--main-color);

}
/* =================== skills ======================== */
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: whitesmoke;
    height: 11px;
    border-radius: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 11px;
    background-color: var(--main-color);
    border-radius: 10px;
    animation: animate-positive 3s;
}
/* ====================== certifs =================*/
.container-swp{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-container{
    padding-block: 2rem;
}
.card-content{
    margin-inline: 1.5rem;
    border-radius: 1.25rem;
    overflow: hidden;
}
.card-article{
    width: 300px;
    border-radius: 1.5rem;
    overflow: hidden;
}
.card-image{
    position: relative;

}
.card-data{
    background-color: #efdffb;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    min-height: 210px;

    text-align : center;
    position: relative;
    z-index: 10;
}
.card-img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;

}
.card-shadow{
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);

}
.card-name{
    font-size: 20px;
    color:#000;
    margin-bottom: .75rem;

}
.card-description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}
.card-button{
    display: inline-block;
    border: var(--second-color) solid 1px;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color : #000;
    transition: background-color 0.5s;
    background-color: transparent;
}
.card-button:hover{
    display: inline-block;
    background-color: var(--second-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color : #fff;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}
.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: #000;
    display: none;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.swiper-pagination-bullet{
    background-color: hsl(212,32%,40%);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--second-color);
}
/* ====================== Resume ================ */
.resume{
    background-color: white;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 3px dashed var(--second-color);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #efdffb;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}
.cv a{
    color: white;
    text-decoration: none;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: var(--main-color);
    border: 2px solid var(--second-color);

}
/*===================== Portfolio =====================*/
.portfolio #portfolio-flters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: var(--second-color);
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:50px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    min-height: 400px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease-in-out;

}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0,0,0,0.6), var(--second-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:14px;
    color: #fff;
    transition: height 0.5s ;
}
.layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--second-color);;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:  100%;
}
.more-btn{
    display: block;
    margin: 50px auto;
    width:  fit-content;
    border:  1px solid var(--second-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.5s;
}
.more-btn:hover{
    background-color: var(--second-color);
    color: white;
}
.work-info{
    position: fixed;
    inset: 0;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(24px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    transition: opacity .4s, visibility .4s;
}
.work-info-content{
    max-height: 600px;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 3.5rem 1.5rem;
    border-bottom: 8px solid var(--main-color);
}
.work-info-content::-webkit-scrollbar {
    width: .6rem;
}
.work-info-content::-webkit-scrollbar-thumb {
    background-color: var(--main-color);

}
.work-info-title{
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color:var(--second-color);
    font-weight: bold;
}
.work-info-list{
    margin-left: 1rem;
}
.work-info-list-item{
    text-align: initial;
    list-style: square;
}
.work-info-list-item::marker{
    color: var(--second-color);
}
.work-info-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--main-color);
}
.active-work{
    opacity: 1;
    visibility: visible;
}
.portfolio-app-img{
    width: 20px;
    height: 20px;
}
/* ============ contact ======================= */
.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: url(../assets/img/contact.jpg);
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: #efdffb;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: #000;
}
.contact-in iframe {
    width: 100%;
    height: 100%;
}
/* ===================== footer ==================*/
.footer {
    margin-top:50px;
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
}

#footer .copyright {
    text-align: end;
    padding: 20px 0;
}
.back-to-top{
    color: white;
}
/* ============= Animation ========== */
@-webkit-keyframes animate-positive {
    0%{
        width: 0;
    }
}

@keyframes animate-positive {
    0%{
        width: 0;
    }
}
@keyframes imgAnimate  {
    to{
        transform: translateX(0);
        /*transform: skew(-3deg);*/
    }
}
@keyframes animateTxt  {
    3%{
        left: 0;
    }
    30%{
        left: 100%;
    }
    80%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
/* ======================= Responsive ================*/
.fa-xmark{
    display: none;
}
@media screen and  (min-width:766px){
    .left-block{
        /*min-width: 500px;*/
    }
}
@media  screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    .fa-xmark{
        font-size: 2rem;
        padding: 0;
    }

    #hero h1 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    #hero h2 {
        font-size: 1rem;
        margin-top: 0px;

    }

    .normal-title {
        font-size: 1rem;
        line-height: 30px;
        margin-top: 0px;

    }

    .change-text {
        font-size: 1.2rem;
        line-height: 22px;
    }

    .text-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .social {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
        padding-right: 4rem;

    }
    .social i{
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
    }


    .information{
        width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    h2{
        font-size: 2rem;
        text-align: left;
        margin-left: 0;
    }

    .heading-jumbo-small {
        font-size: 30px;
        line-height: 52px;
    }

    .rich-text {
        width: 90%;
        max-width: 470px;
        text-align: left;
    }

    .container {
        text-align: center;
        padding-top: 18px;
        padding-bottom: 0;
    }

    .heading-jumbo {
        margin-bottom: 40px;
        font-size: 25px;
        line-height: 40px;
    }

    .hero-section {
        margin-left: 15px;
        margin-right: 15px;
    }

    .hero-section.cc-contact {
        padding: 15px;
    }

    .hero-section.header {
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .paragraph-bigger {
        font-size: 16px;
        line-height: 28px;
    }

    .logo-link {
        padding-left: 0;
    }

    .navigation {
        padding: 20px 30px;
    }


    .button-2 {
        margin-top: 3%;
    }

    .right-block {
        max-width: 500px;
    }

    .flexbox.hero-flexbox {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0px;
    }

    .image {
        margin-top: 5px;
        margin-bottom: 0;
        padding-top: 0;
    }

    .nav-link {
        border-bottom-style: none;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-link:hover {
        border-bottom-style: none;
    }
    .left-block {
        margin-bottom: 40px;
    }
    .nav-link-copy {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }


    .nav-menu {
        background-color: #201c3a;
        padding: 30px 60px;
        color: white;
    }
}

@media (max-width:767px)  {
    .form-left{
        padding: 90px 15px;
        text-align: center;
    }
    .form-left h2{
        font-size: 25px;
    }
    .form-right {
        padding: 25px;
    }

    .form-right button{
        width: 150px;
        padding: 12px 0;
    }
}
